<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}</p>
  <p>Não tivemos nenhuma resposta do formulário nas últimas 24 horas, até a data de: <strong>{{date}}</strong></p>

  <p><br>
    <strong>Equipe Firgun</strong>
  </p>
</div>
